* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
}

main {
    font-size: 12px;
    height: 100vh;
    display: flex;
    
}

.card-bg {
    flex: 1;
    width: 100%;
    background-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.card-bg img:first-of-type {
    /* width: 70%;
    height: auto;
    /* transform: translate(5rem, 1.3rem); */
    /* position: absolute;
    top: 1rem;
    right: 1rem;  */
    width: 300px;
    position: absolute;
    right: -8rem;
    bottom: 8rem;
}

.card-bg img:last-of-type {
    /* width: 70%;
    height: auto;
    /* transform: translate(1.5rem, -2rem); */
    /* position: absolute;
    top: 7rem;
    left: 1rem;
    z-index: 1;  */
    width: 300px;
    position: absolute;
    right: -5rem;
    top: 6rem;

}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.card-details {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label-grp {
    display: flex;
    gap: 1rem;
}

label {
    /* color: hsl(279, 6%, 55%); */
    color: hsl(278, 68%, 11%);
}


.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input input {
    display: block;
    outline: none;
    height: 1.5rem;
    border-radius: 0.3rem;
    border: 0.8px solid hsl(279, 6%, 55%);
    padding: 0 0.8rem;
}

.label-grp {

}

.input-grp {
    display: flex;
    gap: 0.3rem;
    width: 100%;
}

.input-grp input:nth-child(1), .input-grp input:nth-child(2) {
    width: 25%;
}

.input-grp input:nth-child(3) {
    width: 50%;
}

button {
    border: none;
    height: 1.7rem;
    width: 100%;
    color: #fff;
    border-radius: 0.3rem;
    background-color: hsl(278, 68%, 11%);
    padding: 5px auto;
    text-align: center;
}

@media screen and (max-width: 930px) {
    .card-bg img:first-of-type {
        width: 230px;
        position: absolute;
        right: -5rem;
        bottom: 10rem;
    }

    .card-bg img:last-of-type {
        width: 230px;
        position: absolute;
        right: -3rem;
        top: 8rem;
    }
}

@media screen and (max-width: 720px) {
   
    .card-bg img:first-of-type {
        width: 200px;
        position: absolute;
        right: -4rem;
        bottom: 11.5rem;
    }

    .card-bg img:last-of-type {
        width: 200px;
        position: absolute;
        right: -2rem;
        top: 9.5rem;
    }

    .card-container {

    }

    .card-details {
        width: 250px;
    }
}

@media screen and (max-width: 620px) {
     main {
        display: flex;
        flex-direction: column;
    }

    .card-bg {
        flex: 1.5;
        position: relative;
    }

    .card-bg img:first-of-type {
        width: 50%;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .card-bg img:last-of-type {
        width: 50%;
        position: absolute;
        top: 6rem;
        left: 1rem;
    }

    .card-container {
        margin: auto;
        width: auto;
    }

    .card-details {
        width: auto;
        margin: 1rem;
    }
}

@media screen and (max-width: 470px) {
    .card-bg img:first-of-type {
        width: 65%;
    }

    .card-bg img:last-of-type {
        width: 65%;
    }s
}

@media screen and (max-width: 375px) {
    .card-bg img:first-of-type {
        width: 70%;
    }

    .card-bg img:last-of-type {
        width: 70%;
    }
}

@media screen and (max-width: 330px) {
    .card-bg img:first-of-type {
        width: 80%;
    }

    .card-bg img:last-of-type {
        width: 80%;
    }s
}